# Part of kf6-servicemenus-flacconvert
#
# SPDX-FileCopyrightText: 2021-2026 Marco Nelles <dev at maniatek dot de>
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Actions=convert_mp3;convert_opus;_SEPARATOR_;convert_custom;
MimeType=audio/flac
Name=flac convert service menu
ServiceTypes=KonqPopupMenu/Plugin,audio/flac
TryExec=flacconvert-kdialog
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Convert
X-KDE-Submenu[de]=Umwandlung

################################################################################

[Desktop Action convert_mp3]
Exec=flacconvert-kdialog convert mp3 2 %F
Icon=audio-mp3
Terminal=false
Type=Application
Name=Convert to MP3
Name[de]=In MP3 umwandeln

[Desktop Action convert_opus]
Exec=flacconvert-kdialog convert opus 128 %F
Icon=audio-opus
Terminal=false
Type=Application
Name=Convert to Opus
Name[de]=In Opus umwandeln

[Desktop Action convert_custom]
Exec=flacconvert-kdialog convert custom %F
Icon=audio-opus
Terminal=false
Type=Application
Name=Convert to ...
Name[de]=Benutzerdefinierte Umwandlung...
